body {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(253, 224, 252),
    rgb(255, 147, 250)
  );
  height: 100%;
}
.navVor {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-image: linear-gradient(to right, red);
  font-size: 22px;
}

.logo {
  width: 25%;
}

.navVorBoot {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.nav {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.search {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 25%;
  align-items: center;
  gap: 10px;
}
.font {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

.inputsearch {
  border-radius: 8px;
  border: none;
  flex-grow: 1;
}

.navinputlink {
  display: flex;
  align-items: center;
}
.nav-item {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.homemain {
  margin-top: 50px;
  padding: 10px;
}
.paragrafdiv {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: rgb(71, 71, 71);
}
.hauptdiv {
  display: flex;
  justify-content: space-around;
}
.rezeptbutton {
  background-color: rgb(255, 147, 250);
  box-shadow: 5px 5px 5px 1px rgb(209, 209, 209);
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 100px;
  color: white;
  margin-right: 50px;
}
.orderbutton {
  background-color: rgb(255, 255, 255);
  border: rgb(255, 147, 250);
  box-shadow: 5px 5px 5px 1px rgb(255, 147, 250);
  border-radius: 10px;
  height: 30px;
  width: 100px;
  color: rgb(71, 71, 71);
}
.homebuttonmaindiv {
  margin-top: 70px;
  width: 50%;
  display: flex;
  justify-content: center;
}
.homecakeblur {
  filter: blur(5px);
  position: absolute;
  top: 20%;
  left: 63%;
}
.homecake{
  position: absolute;
  top: 20%;
  left: 63%;
}
.footerMainDiv {
  background-color: rgb(253, 224, 252);
  margin-top: 200px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 30px;
  padding: 50px;
}
.footerOben {
  display: flex;
  justify-content: space-around;
  color: gray;
}
.footerSocial {
  border-bottom: 2px gray solid;
  display: flex;
  justify-content: right;
  gap: 25px;
  align-items: center;
}
.footerCoby {
  color: gray;
}

@media only screen and (max-width: 768px) {
  .navVor {
    flex-direction: column;
    align-items: center;
  }
  .logo {
    width: 100%;
    text-align: center;
  }
  .navVorBoot {
    width: 100%;
    justify-content: center;
  }
  .search {
    width: 100%;
    justify-content: center;
  }
  .paragrafdiv {
    font-size: 1.5rem;
  }

  .maindiv {
    position: static;
    margin-top: 20px;
  }

  .homecakeblur {
    width: 80%;
    height: 80%;
  }
  .homecake {
    width: 80%;
    height: 80%;
  }

  .homebuttonmaindiv {
    flex-direction: column;
    align-items: center;
  }

  .rezeptbutton,
  .orderbutton {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.prodLiniemain{
  width: 33%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
