.admin-user-main-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.admin-user-nav-div {
  width: 100%;
  margin-bottom: 20px;
}

.admin-user-card-div {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.admin-user-card-header {
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px rgb(189, 189, 189) solid;
}
.admin-user-card-adres {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px rgb(189, 189, 189) solid;
}
.admin-user-card-adres2 {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px rgb(189, 189, 189) solid;
}

.custom-navbar {
  box-shadow: 2px 7px 15px rgba(0, 0, 0, 0.808);
}

button {
  margin-right: 10px;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Arial", sans-serif;
}

main {
  flex: 1;
}

.admin-user-zeilen-input {
  display: flex;
  flex-direction: column;
}
.admin-user-zeilen-input-main {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(167, 167, 167);
}

.admin-user-zeilen-input-label {
  display: flex;
  flex-direction: column;
  color: rgb(124, 124, 124);
  margin-top: 20px;
  font-weight: bold;
}
.admin-user-zeilen-input-button {
  margin-top: 20px;
}
input {
  border: none;
  border-radius: 8px;
  padding: 2px;
  color: rgb(90, 90, 90);
  padding-left: 5px;
}

.admin-user-zeilen-input-button {
  display: flex;
  justify-content: center;
}

footer {
  padding: 20px;
  text-align: center;
}

.admin-willkommen {
  font-size: 1.5rem;
  font-weight: bold;
  color: #727272;
  background-color: #f4f4f442;
  padding: 20px;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 2px 7px 15px rgba(0, 0, 0, 0.808);
  text-align: center;
  max-width: 600px;
  line-height: 1.5;
}

.nav-link {
  font-family: "Boogaloo", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #c553cf;
  font-size: 30px;
}

.navbar-light .navbar-nav .nav-link {
  padding: 10px 15px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #616161;
}

button {
  font-size: 1rem;
}

input[type="search"] {
  height: 38px;
}


.admin-product-main-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.admin-product-continer-div{
  display: flex;
  flex-wrap: wrap;
  gap: 16px; 
  justify-content: center; 

}
.admin-product-container {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f4f4f442;
  border-radius: 10px;
  box-shadow: 2px 7px 15px rgba(0, 0, 0, 0.1);
}

.admin-product-input{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #bdc3c7;
  color: rgb(90, 90, 90);
  font-size: 1rem;
}
/***********/
.prodLiniecard {
  width: 350px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 16px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.cardimage img {
  max-width: 100%;
  border-radius: 8px;
}

.cardheadtext p {
  font-size: 1.2em;
  font-weight: bold;
}

.cardtext {
  margin: 16px 0;
}

.cardbuttondiv {
  margin-bottom: 16px;
}

.cardbuttondiv button {
  margin-right: 8px;
}

.cardfooter {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}


.admin-product-edit-form {
  display: flex;
  flex-direction: column;
}

.admin-product-edit-main {
  margin-bottom: 16px;
}

.admin-product-edit-label {
  margin-bottom: 12px;
}

.admin-product-edit-label label {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
}

.admin-product-edit-label input,
.admin-product-edit-label textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.admin-product-edit-buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}



@media only screen and (max-width: 600px) {
  .admin-willkommen {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .admin-willkommen {
    font-size: 1rem;
  }
  .admin-product-continer-div {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 1381px) {
  .admin-willkommen {
    font-size: 1.25rem;
  }
}
