
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    max-width: 500px;
    width: 100%;
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
  }

  .modal-inhalt {
    background-color: #f9f9f9;
}

.modal-login {
    background-color: #fff0f0; 
}
.schlissen-button{
  background-color: rgb(255, 147, 250);
  box-shadow: 5px 5px 5px 1px rgb(209, 209, 209);
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 100px;
  color: white;
  margin-right: 50px;
}
.modal-inhalt-p{
  font-family: "Boogaloo", sans-serif;
  font-weight: 50;
  font-style: normal;
  color: #313131;
  font-size: 15px;
  margin-top: 20px;
}